/* style 태그에 작성했던 방식으로 코드를 작성 해주면 된다. */
div{
    color: red;
}

/* basic css  */

.display{
    display: block;
    /* block은 블록 요소, div태그의 기본값, 자기의 너비를 전부 갖고 옆에 아무도 없어야 한다. */
    display: inline;
    /* 인라인, span, a 등등 기본값을 인라인으로 가지고 있고 옆으로 태그가 자리 할 수 있다. */
    display: flex;
    /* 자식 태그들을 정렬 시킬 수 있다. 정렬시키는 방식은 여러가지가 있다. */
    display: inherit;
    /* 부모한테 값을 가져와서 적용시킨다. 사용할 일이 거의 없긴함 */
    display: initial;
    /* 태그가 기본적으로 가지고 있던 속성으로 초기화 (기본값으로 적용) */
    display: none;
    /* 화면에서 태그를 보이지 않게 지워버린다. 나중에 자바스크립트에서 display속성이 none 으로 적용되어
    있으면 선택이 되지 않는다. */
}

.wh{
    width: 100px;
    /* 태그의 너비 */
    
    height: 100px;
    /* 태그의 높이 */
    
    width: max-content;
    /* 가지고있는 자식 태그의 너비 만큼 차지한다. */
    
    width: min-content;
    /* 자식 태그의 최소만큼 너비를 차지한다 */
    
    max-width: 100px;
    /* 설정한 너비 이상으로 태그의 너비가 커지지 않는다.(최대너비) */
    
    min-width: 100px;
    /* 설정한 너비 이하로 태그의 너비가 줄어들지 않는다.(최소너비) */
}

.content{
    width: 100px;
    height: 100px;
    overflow: hidden;
    /* 자식의 태그가 부모영역 이상으로 보이지 않게 설정 */

    overflow: scroll;
    /* 자식의 태그의 내용을 스크롤 처리 */

    overflow-x: scroll;
    overflow-y: hidden;
    /* overflow-x, -y 를 설정하여 hidden 또는 scroll 지정 가능  */

    opacity: 0.5;
    /* 투명도를 설정해줄수 있다. 1=100% */
}

.text{
    font-size: 16px;
    /* 글씨의 크기 (pc크롬 기준 기본값= 16px) */
    /* 환경에 따라 기본 값이 다를 수 있다.(모바일 또는 PC 브라우저 등) */

    font-weight: 500;
    /* 글씨의 굵기  */
    /* 기본값은 500, 글꼴을 가져오면 기본값이 변할 수 있다. */

    color: rgba(36, 19, 189, 0.5);
    /* 글씨의 색 rgb(), rgba() 등등으로 설정이 가능 */

    text-align: center;
    /* 글자의 가운데 정렬 */

    text-align: end;
    /* 오른쪽 끝으로 정렬 */

    text-align: start;
    /* 왼쪽 끝으로 정렬 */

    text-decoration: overline;
    /* 텍스트에 상단에 줄 추가 */

    text-decoration: underline;
    /* 텍스트에 밑줄 추가 */

    text-decoration: none;
    /* 텍스트 꾸밈 요소 제거 */

    letter-spacing: 10px;
    /* 글자의 간격을 설정 */

}