.tab-menu > input{
    display: none;
}

/* 인접한 형제요소 선택자 + */
/* tab-menu클래스를 가지고 있는 태그의
    자식중 input태그 바로 아래 붙은 태그 */
.tab-menu > input + label{

    display: inline-block;
    padding: 30px;
    background-color: gray;
    color: white;
    font-size: 14px;
    /* 마우스를 올렸을때 보여줄 커서 설정 */
    cursor: pointer;

}

/* checked 속성이 있는 input 태그 */
/* tab-menu클래스를 가지고 있는 태그 자식 input 태그가 
    checked 속성이 있으면 인접 형제 태그인 label에 
    스타일을 적용 시키겠다. */


.tap-menu > input:checked + label {
    background: #706363;
    color: bisque;
}

.box{
    width: 500px;
    height: 600px;
    background-color: #000;
    margin: 0 auto;
    display: none;

}


/* input 태그중 class가 tab01이고 checked 속성이 있고 형제 요소중
    밑에 있는 태그 중에 item1클래스를 가지고 있는 태그*/
input[class="tab01"]:checked ~ .item1{
    display: block;
    color: white;
}

input[class="tab02"]:checked ~ .item2{
    display: block;
    color: white;
}

input[class="tab03"]:checked ~ .item3{
    display: block;
    color: white;
}


.text-box::before{
    
    position: absolute;
    right: 20px;
    top: 120px;
    content: "";
    background-image: url(https://img.megabox.co.kr/static/pc/images/common/btn/btn-search-input.png);
    width: 12px;
    height: 12px;
    background-size: 12px;
    background-repeat: no-repeat;
    display: block;

}


.text-box input{
    padding-right: 27px;
    position: absolute ;
    right: 20px;
    top: 120px;
}