div{
    width: 800px;
    height: 600px;
    display: flex; flex-wrap: wrap;

}

.b{
    width: 200px;
    height: 300px;
    border: 1px solid;
    box-sizing: border-box;
    
}



img{
    width: 150px;
    height: 150px;
    border: 1px solid;
    align-content: center;
}

h4{
    text-align: center;
}